name: Development version tests

on:
  push:
    branches:
      - main
      - 'stable/**'
  pull_request:
    branches:
      - main
      - 'stable/**'
  schedule:
    - cron: '0 1 * * *'

concurrency:
  group: ${{ github.repository }}-${{ github.ref }}-${{ github.head_ref }}-${{ github.workflow }}
  # Only cancel in PR mode.  In push mode, don't cancel so we don't see spurious test "failures",
  # and we get coverage reports on Coveralls for every push.
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  coverage:
    if: github.repository_owner == 'Qiskit'
    name: Development version tests (${{ matrix.os }}, ${{ matrix.python-version }})
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      max-parallel: 4
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.10", "3.13"]
        # include:
        #   - os: macos-latest
        #     python-version: "3.13"
        #   - os: windows-latest
        #     python-version: "3.13"
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v6
        name: Install Python
        with:
          python-version: '3.11'

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: llvm-tools-preview

      - name: Install dependencies
        run: |
            python -m pip install -U pip

      - name: Install Package
        shell: bash
        run: |
          git clone https://github.com/Qiskit/qiskit build/qiskit
          cd build/qiskit
          make c
          pip install -c constraints.txt -r requirements.txt
          SETUPTOOLS_RUST_CARGO_PROFILE=release pip install -c constraints.txt -e .
          cd qiskit/
          ln -s _accelerate.*.so libqiskit.so
          cd ../../..
          pip install setuptools setuptools_rust
          DEPS=coverage make pyinstall

      - name: Rust tests
        shell: bash
        run: |
          make testrust

      - name: C tests
        shell: bash
        run: |
          make testc

      - name: Python tests
        shell: bash
        run: |
          make testpython

      - name: Documentation tests
        shell: bash
        run: |
          make doctest
